li {
  list-style: none;  
}
.logo {
    height: 50px;
}
.carousel-item {
  height: 500px;
}
.carousel-caption {
  background-color: rgba(87, 87, 87, 0.24);
}
.img-slider {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-krug {
  height: 50%;
  width: 50%;
  object-fit: contain;
}
.img-a {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
.h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  color: rgb(48, 213, 200);
  font-size: 6em;
}
.h2 {
  font-size: 3em;
}
.title {
  font-family: 'Roboto', sans-serif;
  color:black;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* подсветка текста */
}
.lor {
  font-size: 23px;
  font-family: Arial, sans-serif;
  color: #333;
}
main > .container {
  padding: 100px 15px 20px;
}
.bg-dark {
  background-color: rgba(109, 202, 209, 1) !important;
}
.bg-light {
  background-color: rgba(234, 186, 186, 1) !important;
}
.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgba(109, 202, 209, 1);
  border-color: rgba(109, 202, 209, 1);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: rgb(255, 255, 255)  !important;
  background-color: rgba(234, 186, 186, 1)  !important;
  border-color: rgba(234, 186, 186, 1)  !important;
  box-shadow: 0 0 8px rgba(234, 186, 186, 1)  !important;
}
.form-check-input:checked {
  background-color: rgba(109, 202, 209, 1);
  border-color: rgba(109, 202, 209, 1);
}
.btn-success {
  color: rgb(255, 255, 255);
  background-color: rgba(234, 186, 186, 1) ;
  border-color: rgba(234, 186, 186, 1) ;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(109, 202, 209, 1) !important;
  border-color: rgba(109, 202, 209, 1) !important;
  box-shadow: 0 0 8px rgba(109, 202, 209, 1) !important;
}
a {
  color: rgba(109, 202, 209, 1) ;
  text-decoration: underline;
}
.btn-link {
  color: rgba(234, 186, 186, 1);
}
.btn-link:hover {
  color: rgba(109, 202, 209, 1) ;
  box-shadow: 0 0 8px rgba(109, 202, 209, 1)
}
.nav-item {
  color:#ffffff;
  text-shadow: 1px 1px 1px rgba(113, 113, 113, 0.5);
}